<h1>Meal Components</h1>

<table class='table table-striped datatable' id='components-datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.link %></td>
        <td><%= component.note %></td>
        <td>
          <%= link_to fa_icon_with_tooltip('edit', 'edit'), edit_component_path(component) %>
          <%= link_to fa_icon_with_tooltip('trash', 'delete'), component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
