<h1><%= @component.name %></h1>

<p>
  <strong>Link:</strong>
  <%= link_to @component.link, @component.link if @component.link.present? %>
</p>

<p>
  <strong>Note:</strong>
  <%= @component.note %>
</p>

<%= link_to 'edit', edit_component_path(@component) %> |
<%= link_to 'delete', @component, method: :delete, data: { confirm: "Delete #{@component.name}. Are you sure?" } %> |
<%= link_to 'back', params[:return_to] || components_path %>
