<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @component.type %>
</p>

<p>
  <strong>Link:</strong>
  <%= @component.link %>
</p>

<p>
  <strong>Note:</strong>
  <%= @component.note %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
