<h2>edit <%= @aisle.name %></h2>

<%= simple_form_for [@store, @aisle] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit class: 'button' %>
<% end %>

<%= link_to 'cancel', stores_path %>
