<tr class="item_list not_needed">
  <td>
    <%= link_to fa_icon('cart-plus'), add_needed_store_item_path(@store.id, other_item.id),
          :method => :post %>
  </td>
  <td class="name"><%= other_item.name %></td>
  <td><%= other_item.aisle_name %></td>
  <td><%= truncate(other_item.notes) %></td>
  <td>
    <%= link_to fa_icon('edit'), edit_store_item_path(@store.id, other_item.id) %>
    <%= link_to fa_icon('trash'),
          store_item_path(@store.id, other_item.id),
          :confirm => "Are you sure?", :method => :delete %>  
  </td>
</tr>
