<h1 class="with_submenu">
  Meal Plan
</h1>
<div class="submenu">
  <%= link_to '<< ', calendars_path(week: @week - 1) %>
  week
  <%= link_to ' >>', calendars_path(week: @week + 1) %>
</div>
<table class='table table-striped'>
  <tbody>
    <% @calendars.group_by(&:date).each do |day, calendars| %>
      <tr>
        <td class='col3'>
          <div class='weekday'><%= Date::DAYNAMES[day.wday] %></div>
          <div class='date'><%= day.strftime('%F') %></div>
        </td>
        <td class='col9'>
          <% calendars.each do |calendar| %>
            <div id='meal-time-<%=calendar.date%>-<%=calendar.meal_time%>'>
              <%= render 'calendar', calendar: calendar %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :scripts do %>
$(function() {
  $('.component-list').select2({ tags:[<%= Component.all.map(&:name).map(&:inspect).join(',').html_safe %>] });
});
<% end %>
