<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign in</h3>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col12">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col12">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col8">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      </div>
      <div class="col4">
        <%= f.submit 'Sign in', :class => 'button' %>
      </div>
    </div>
    <div class="row">
      <div class="col12">
        <div class="forgot-password">
          <%- if devise_mapping.recoverable? %>
            <%= link_to "Forgot password?", new_password_path(resource_name) %>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</div>
