<h2>edit <%= @item.name %></h2>

<%= simple_form_for [@store, @item] do |f| %>
  <% if @store.aisles.length > 0 %>
    <%= f.association :aisle, collection: @store.aisles, label_method: :name_and_description %>
  <% end %>
  <%= f.input :name %>
  <%= f.input :number_needed %>
  <%= f.input :notes %>
  <%= f.input :popularity %>
  <%= f.submit %>
<% end %>

<%= link_to 'cancel', store_path(@store.id) %>
