<div class="modal-body">
  <div class="btn-group-vertical btn-block" role="group">
    <button type="button" class="btn btn-info btn-block"><%=@item.name%><br/>Num needed: <%=@item.number_needed%></button>
    <% if @item.needed? %>
      <%= link_to fa_icon_with_text('times', 'No Longer Needed'),
                  clear_needed_store_item_path(@store.id, @item.id),
                  method: :post,
                  class: 'btn btn-default btn-block text-left',
                  'data-dismiss' => 'modal' %>
      <%= link_to fa_icon_with_text('plus', 'Increment Needed'),
                  add_needed_store_item_path(@store.id, @item.id),
                  method: :post,
                  class: 'btn btn-default btn-block text-left',
                  'data-dismiss' => 'modal' %>
    <% else %>
      <%= link_to fa_icon_with_text('shopping-cart', 'Add to Needed List'),
                  add_needed_store_item_path(@store.id, @item.id),
                  method: :post,
                  class: 'btn btn-default btn-block text-left',
                  'data-dismiss' => 'modal' %>
    <% end %>
    <% if @item.multiple_needed? %>
      <%= link_to fa_icon_with_text('minus', 'Decrement Needed'),
                  subtract_needed_store_item_path(@store.id, @item.id),
                  method: :post,
                  class: 'btn btn-default btn-block text-left',
                  'data-dismiss' => 'modal' %>
    <% end %>
    <%= link_to fa_icon_with_text('edit', 'Edit'),
                edit_store_item_path(@store.id, @item.id),
                method: :get,
                class: 'btn btn-default btn-block text-left',
                'data-dismiss' => 'modal' %>
    <%= link_to fa_icon_with_text('trash', 'Delete'),
                store_item_path(@store.id, @item.id),
                method: :delete,
                data: { confirm: "Are you sure you want to permanently delete #{@item.name}" },
                class: 'btn btn-default btn-block text-left',
                'data-dismiss' => 'modal' %>
    <a class="btn btn-default btn-block text-left" data-dismiss="modal"><%= fa_icon 'times-circle' %> Cancel</a>
  </div>
</div>
