<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stores</a>
            <ul class="dropdown-menu" role="menu">
              <% current_user.stores.each do |store| %>
                <li><%= link_to store.name, store_path(store) %></li>
              <% end %>
              <li><%= link_to 'Add new store', new_store_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Meal Plan', calendars_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @store && @store.id %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon('edit')%></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit store', edit_store_path(@store) %></li>
                <li><%= link_to 'Edit aisles', store_aisles_path(@store) %></li>
              </ul>
            </li>
          <% elsif controller_name = 'calendars' %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon('edit')%></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit meal components', components_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon('user')%></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit account', edit_user_registration_path %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Admin', upmin_path %></li>
              <% end %>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
